*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family : 'Giloy';
}
html , body{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 139, 0.471);
    display: flex;
    align-items: center;
    justify-content: center;
  
}



.container{
  width: 300px;
  padding: 16px;
  margin: auto;
  margin-top: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}

p{
  margin-top: 10px;
}

.container input{
  width: 95%;
  height: 25px;
  padding: 3px;
  font-size: 15px;
}

button{
  background-color: rgba(0, 0, 139, 0.722);
  margin-top: 5px;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding : 5px 10px 5px 10px;
  border-style: none;
  cursor: pointer;
}
button:hover{
  background-color: rgba(0, 0, 139, 0.604);
}

.summary{
  background-color: rgba(0, 0, 139, 0.471);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
}

.summary h2{
  font-size: large;
  text-decoration: underline;
}

.submission{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.submitbtn{
  padding: -20px;
}

input{
border-radius: 5px;
}

input:focus{
  outline: none;
  border: 2px solid rgba(0, 0, 139, 0.471);
  border-radius: 5px;
}

/* App.css */

.app {
  background-color: white;
  color: black;
  min-height: 100vh;
  padding: 20px;
}

.appdark {
  background-color: #121212;
  color: white;
}
